/* Login Styles */
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2; /* Light Gray */
  }
  
  form {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 30px;
    font-size: 28px;
    color: black; /* Dodger Blue */
  }
  
  input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .login-button {
    background-color: #555; /* Dodger Blue */
    color: #fff;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #444; /* Darker Dodger Blue */
  }
  
  /* Link Styles */
  Link {
    color: #555; /* Dodger Blue */
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
  }
  
  Link:hover {
    color: #444; /* Darker Dodger Blue */
  }
  